body{
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-image: url('back2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
}

.loggedincontainer{
  height: 600px;
   background-color: green;
   background-image: url("bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.mainCard{

  width: 30%;
  margin: auto;
}

.img{
  width: 20%;

}

.container{
  position: relative;
  background-color: #F5F5F5;
  height: auto;
  width: 400px;
  margin: auto;
  box-shadow: 0px 10px 12px -5px #000;}

.textfield{
   
    margin: 10px;
  
}


p{
  font-size: 12px;
  color: #000;
}
i{
  font-size: 10px;
  color: red;
}

h2 {
  padding-left: 15px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 300;
}


.form-section{
  padding: 70px 90px 70px 90px;
}
.link{
  cursor: pointer;
  color: blue;
}
.margin{
  margin-left: 10px;
}

.btn {
  background-color: #0e68ee;
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  transition: 0.3s;
}

.btn:hover {opacity: 1}
