/* body {
  background-color: #9A616D;
} */

mainCard{
width: 400px;

}

.img{

  width: 20%;

}

.headText{

  color: green;
}
.loggedincontainer{
  height: 600px;
   background-color: green;
   background-image: url("bg.jpg");
   background-repeat: no-repeat;
   background-size: cover
}